@page
@model Blazor_GetStarted_ClassLib.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blazor_GetStarted_ClassLib_V3.Page1</title>
</head>
<body>
</body>
</html>
