@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div>
        <p><a href="/basicUsage">Basic Usage</a></p>
        <p><a href="/namedClient">Named Client</a></p>
        <p><a href="/typedClient">Typed Client</a></p>
    </div>
