@page "/chartjs/LineChart0002"
@model LineChart0002
@{
    ViewData["Title"] = "Chart.js Line - Samples";
}

<p></p>
<p>jQuery - Line - Samples (Scales time)</p>
<div>
    <div class="ui-widget">
        <div class="chart-responsive">
            <canvas id="Chart1" aria-label="Hi Chart" role="img">
                Basic Line Chart
            </canvas>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(function () {

            var options =
            {
                responsive: true,
                title:
                {
                    display: true,
                    text: 'Chart.js Line Chart series'
                },
                legend:
                {
                    position: 'top',
                },
                scales:
                {
                    xAxes: [{
                         scaleLabel: {
							    display: true,
							    labelString: 'Duration(s)'
						    }
                    }],
				    yAxes: [{
						    scaleLabel: {
							    display: true,
							    labelString: 'Requests(s)'
						    }
					    }]
				},
                tooltips: {
                    intersect: false,
                    mode: 'index',
                    callbacks: {
                        label: function (tooltipItem, myData) {
                            var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                            if (label) {
                                label += ': ';
                            }
                            label += parseFloat(tooltipItem.value).toFixed(2);
                            return label;
                        }
                    }
                },
                animation:
                {
                    animateScale: true,
                    animateRotate: true
                }
            };

            //-------------------------------------------------------------------------------- Chart1

            var dataPoints =
            {
                labels: ['00:00:01', '00:00:02', '00:00:03', '00:00:04', '00:00:05', '00:00:06', '00:00:07', '00:00:08', '00:00:09', '00:00:10'],
                datasets: [{
                    data: [86, 1500, 106, 300, 500, 111, 900, 221, 1300, 2478],
                    label: "Success",
                    borderColor: "#33FF33",
                    fill: false,
                    type: 'line',
					pointRadius: 0,
					fill: false,
					lineTension: 0,
					borderWidth: 2
                },
                {
                    data: [0, 50, 1, 300, 33, 0, 10, 100, 0, 4],
                    label: "Error",
                    borderColor: "#FF5733",
                    fill: false,
                    type: 'line',
					pointRadius: 0,
					fill: false,
					lineTension: 0,
					borderWidth: 2
                }]
            };

            var ctx1 = $("#Chart1");
            var chart1 = new Chart(ctx1,
                {
                    type: 'line',
                    data: dataPoints,
                    options: options
                });
        });

    </script>
 
}
