@page "/ChartJs/PieChart0001"
@model PieChart0001
@{
    ViewData["Title"] = "Chart.js Doughnut|Pie - Samples";
}

<!--
Reference
https://www.chartjs.org/docs/latest/charts/doughnut.html#data-structure
-->

<p></p>
<p>jQuery - Doughnut|Pie - Samples</p>
<div>
    <div class="ui-widget">
        <div class="chart-responsive">
            <canvas id="pieChart" aria-label="Hi Pie" role="img">
                Basic Pie Chart
            </canvas>
        </div>
    </div>
</div>

<p></p>
<p>ViewModel - Doughnut|Pie - Samples</p>
<div>
    <div class="ui-widget">
        <div class="chart-responsive">
            <canvas id="pieChart2" aria-label="Hi Pie" role="img">
                Basic Pie Chart
            </canvas>
        </div>
    </div>
</div>

<p></p>
<p>ViewModel - Doughnut|Pie - Logo</p>
<div>
    <div class="ui-widget">
        <div class="chart-responsive">
            <canvas id="pieChart3" aria-label="Hi Pie" role="img">
                Basic Pie Chart - Logo
            </canvas>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">

        $(function () {
            var dataPoints = [];
            var options =
            {
                responsive: true,
                rotation: -1.89,
                //cutoutPercentage: 50,
                legend:
                {
                    position: 'top',
                },
                title:
                {
                    display: true,
                    text: 'Chart.js Pie Chart'
                },
                animation:
                {
                    animateScale: true,
                    animateRotate: true
                }
            };

            var ctx = $("#pieChart");
            var pieChart = new Chart(ctx,
                {
                    type: 'pie',
                    data: dataPoints,
                    options: options
                });

            $.getJSON("/product/pieChartData",
                function (data) {
                    pieChart.data = data;
                    pieChart.update();
                });

            var ctx2 = $("#pieChart2");
            var pieChart2 = new Chart(ctx2,
                {
                    type: 'pie',
                    data: @Html.Raw(@Model.ChartData),
                    options: options
                });

            var d3 = {
                "datasets": [{
                    "data": [30, 20, 10, 40],
                     "borderWidth": [15, 15, 15, 15],
                    "backgroundColor": ["#EA4335", "#34A853", "#FBBC05", "#4285F4"]
                }],
                "labels": ["30%", "20%", "10%", "40%"],
          
            };

               var ctx3 = $("#pieChart3");
                var pieChart3 = new Chart(ctx3,
                    {
                        type: 'pie',
                        data: d3,
                        options: options
                    });
           
        });

    </script>
}