@page "/ChartJs/ChartsjsPie"
@model PieChart0001
@{
    ViewData["Title"] = "Chart.js Doughnut|Pie - Samples";
}

<!--
Reference
https://www.chartjs.org/docs/latest/charts/doughnut.html#data-structure
-->

<p></p>
<p>jQuery - Doughnut|Pie - Samples</p>
<div>
    <div class="ui-widget">
        <div class="chart-responsive">
            <canvas id="pieChart" aria-label="Hi Pie" role="img">
                Basic Pie Chart
            </canvas>
        </div>
    </div>
</div>

<p></p>
<p>ViewModel - Doughnut|Pie - Samples</p>
<div>
    <div class="ui-widget">
        <div class="chart-responsive">
            <canvas id="pieChart2" aria-label="Hi Pie" role="img">
                Basic Pie Chart
            </canvas>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">

        $(function () {
            var dataPoints = [];
            var options =
            {
                responsive: true,
                legend:
                {
                    position: 'top',
                },
                title:
                {
                    display: true,
                    text: 'Chart.js Pie Chart'
                },
                animation:
                {
                    animateScale: true,
                    animateRotate: true
                }
            };

            var ctx = $("#pieChart");
            var pieChart = new Chart(ctx,
                {
                    type: 'pie',
                    data: dataPoints,
                    options: options
                });

            $.getJSON("/product/pieChartData",
                function (data) {
                    pieChart.data = data;
                    pieChart.update();
                });

            var ctx2 = $("#pieChart2");
            var pieChart2 = new Chart(ctx2,
                {
                    type: 'pie',
                    data: @Html.Raw(@Model.ChartData),
                    options: options
                });
        });

    </script>
}