@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApps_RazorPages_RazorClassLibrary.MyFeature.Pages.Page1Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <h2>Hello from a Razor UI class library!</h2>
    <p>AspNetCore-2.0\src\WebApps_RazorPages_RazorClassLibrary\Areas\MyFeature\Shared\Page1.cshtml</p>

    <partial name="_Message" />
</body>
</html>
