@page
@model CreateModel
@{
    ViewData["Title"] = "Create";
}

<p>
    Enter your name.
</p>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div>First Name: <input asp-for="Customer.FirstName" /></div>
    <div>Last Name: <input asp-for="Customer.LastName" /></div>
    <input type="submit" />
</form>