@page "/CreatingComponentsPage"
@inherits CreatingComponentsPageBase
<!-- Inline Component -->

<h4>@Title</h4>

@functions
{
    const string Title = "Hello World - Inline";
}

<!-- Code behind Component -->
<h4>@TitleBase</h4>