@page "/"
@page "/home"
@page "/index"

    <ul>
        <li><a href="/CreatingComponentsPage">CreatingComponentsPage</a></li>
        <li><a href="/CreatingComponentsRenderPage">CreatingComponentsRenderPage</a></li>
        <li><a href="/ComponentLifeCycleOnInitPage">ComponentLifeCycleOnInitPage</a></li>
        <li><a href="/ComponentLifeCycleOnInitAsyncPage">ComponentLifeCycleOnInitAsyncPage</a></li>
        <li><a href="/ComponentLifeCycleOnParametersSetParentPage">ComponentLifeCycleOnParametersSetParentPage</a></li>
        <li><a href="/DataBinding0001_OneWay">DataBinding0001_OneWay</a></li>
        <li><a href="/DataBinding0003_Formating">DataBinding0003_Formating</a></li>
    </ul>

<h4>Select Samples</h4>
<ul>
    <li><a href="/Select0001_Samples">Select0001_Samples</a></li>
</ul>

<h4>Events Samples</h4>
<ul>
    <li><a href="/Events0001_Samples">Events0001_Samples</a></li>
</ul>

<h4>Javascript Interop</h4>
<ul>
    <li><a href="/JavascriptInterop0001_Samples">JavascriptInterop0001_Samples</a></li>
</ul>

<h4>Routing</h4>
<ul>
    <li><a href="/Routing0001_Samples">Routing0001_Samples</a></li>
    <li><a href="/Routing0001_Samples_Another">Routing0001_Samples (multi route)</a></li>
    <li><a href="/Routing0001_Samples_Parameters/1">Routing0001_Samples (route with parameter)</a></li>
</ul>

<h4>Layouts</h4>
<ul>
    <li><a href="/Layout0001_Samples">Layout0001_Samples</a></li>
</ul>

<h4>Localization</h4>
<ul>
    <li><a href="/Localization0001_Samples">Localization0001_Samples</a></li>
</ul>

<h4>Notifications</h4>
<ul>
    <li><a href="/Notifications0001_Samples">Notifications0001_Samples</a></li>
</ul>

<h4>Validation</h4>
<ul>
    <li><a href="/Validation0001_Samples">Validation0001_Samples</a></li>
</ul>

<h4>Manual component render</h4>
<ul>
    <li><a href="/ManualComponentRender0001_Samples">ManualComponentRender0001_Samples</a></li>
</ul>

<h4>Communication between components</h4>
<ul>
    <li><a href="/Communication0001_Samples">Communication0001_Samples</a></li>
</ul>