@page "/"

    <ul>
        <li><a href="/CreatingComponentsPage">CreatingComponentsPage</a></li>
        <li><a href="/CreatingComponentsRenderPage">CreatingComponentsRenderPage</a></li>
        <li><a href="/ComponentLifeCycleOnInitPage">ComponentLifeCycleOnInitPage</a></li>
        <li><a href="/ComponentLifeCycleOnInitAsyncPage">ComponentLifeCycleOnInitAsyncPage</a></li>
        <li><a href="/ComponentLifeCycleOnParametersSetParentPage">ComponentLifeCycleOnParametersSetParentPage</a></li>
        <li><a href="/DataBinding_Formating">DataBinding_Formating</a></li>
        <li><a href="/DataBinding_OneWay">DataBinding_OneWay</a></li>
    </ul>
