@page
@*@inherits*@
@*@inherits TypeNameOfClassToInheritFrom*@

@*@inherits CustomRazorPage<TModel>
    <div>Custom text: @CustomText</div>*@

@*@inherits CustomRazorPage<TModel>

<div>The Login Email: @Model.Email</div>
<div>Custom text: @CustomText</div>*@
