@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h4>jQuery.js Samples</h4>
<ul>
    <li>
        <a asp-page="Autocomplete">jQuery Autocomplete Samples</a>
    </li>
    <li>
        <a asp-page="DropDownList">jQuery DropDownList Samples</a>
    </li>
</ul>

<h4>Chart.js Samples</h4>
<ul>
    <li>
        <a asp-area="ChartJs" asp-page="PieChart0001">Pie 0001</a>
    </li>
    <li>
        <a asp-area="ChartJs" asp-page="LineChart0001">Line 0001</a>
    </li>
    <li>
        <a asp-area="ChartJs" asp-page="LineChart0002">Line 0002 (Scales time)</a>
    </li>
</ul>

<h4>DataTables.js Samples</h4>
<ul>
    <li>
        <a asp-controller="DataTables" asp-action="Index">Products</a>
    </li>
</ul>