@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <ul>
        <li>
            <a asp-page="Autocomplete">jQuery Autocomplete Samples</a>
        </li>
        <li>
            <a asp-page="DropDownList">jQuery DropDownList Samples</a>
        </li>
        <li>
            <a asp-page="ChartsjsPie">jQuery Chart.js Pie Samples</a>
        </li>
    </ul>