<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClientSideDevelopment_BrowserLink</title>
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2019 - ClientSideDevelopment_BrowserLink
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
