@page
@addTagHelper WevApps_TagHelpers_V3.TagHelpers.EmailTagHelper, WevApps_TagHelpers_V3

<h4>RemoveAll, PreContent.SetHtmlContent and PostContent.SetHtmlContent</h4>

<p bold>Use this area to provide additional information.</p>

<bold> Is this bold?</bold>