@page

<h4>asp-page</h4>
<a asp-page="/Attendee">All Attendees</a>

<a asp-page="/Attendee" asp-route-attendeeid="10">View Attendee</a>

<h4>asp-page-handler</h4>
<a asp-page="/Attendee"
   asp-page-handler="Profile"
   asp-route-attendeeid="12">Attendee Profile</a>