@page
@addTagHelper WevApps_TagHelpers_V3.TagHelpers.EmailTagHelper, WevApps_TagHelpers_V3
@model ContactModel

<h4>Author Tag Helpers in ASP.NET Core</h4>

@*<address>
        <strong>Support:</strong><email mail-to="Support"></email><br />
        <strong>Marketing:</strong><email mail-to="Marketing"></email>
    </address>*@

<!-- ProcessAsync sample-->
<address>
    <strong>Support:</strong><email>Support</email><br />
    <strong>Marketing:</strong><email>Marketing</email>
</address>
