@page "/Components/CodeBehind"
@*
    The inherit directive provides the properties and methods
    of the BlazorRocksBase class to this component.
*@
@inherits CodeBehindBase

<h1>@BlazorRocksText</h1>