@using Blazor_GetStarted_Components.Data
@implements IDisposable
@implements ITab

<!--https://gist.github.com/SteveSandersonMS/f10a552e1761ff759b1631d81a4428c3-->

<li>
    <a onclick="@Activate" class="nav-link @TitleCssClass" role="button">
        @Title
    </a>
</li>

@functions {
    [CascadingParameter]
    private TabSet ContainerTabSet { get; set; }

    [Parameter]
    private string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; private set; }

    private string TitleCssClass => ContainerTabSet.ActiveTab == this ? "active" : null;

    protected override void OnInit()
    {
        ContainerTabSet.AddTab(this);
    }

    public void Dispose()
    {
        ContainerTabSet.RemoveTab(this);
    }

    private void Activate()
    {
        ContainerTabSet.SetActivateTab(this);
    }
}