@page "/RazorPageAjaxSamples"
@model RazorPageAjaxSamples
@{
    ViewData["Title"] = "Home page";
}

<!-- Razor syntax -->
<p>jQuery Autocomplete</p>
<div>
    <div class="ui-widget">
        <label for="keywords">Keywords: </label>
        <input id="keywords">
    </div>
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
    Result:
    <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(function ()
        {    
            function log(message)
            {
              $( "<div>" ).text( message ).prependTo( "#log" );
              $( "#log" ).scrollTop( 0 );
            }

            $("#keywords").autocomplete({
                source: "/RazorPageAjaxSamples?handler=KeywordsAll",
                minLength: 1,
                select: function (event, ui)
                {
                    log("Selected: " + ui.item.value + " aka " + ui.item.id);
                }
            });
        });

    </script>
}